.DS_Store


# project
dist
node_modules
mockServer/node_modules
mockServer/upload

# cache
.stylelintcache


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
