// 背景图片,，dpr大于3的用3倍图，其他用2倍图
@mixin bg-image($url) {
  background-image: url($url + "@2x.png");

  @media screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (-moz-min-device-pixel-ratio: 3),
    screen and (-o-min-device-pixel-ratio: 3) {
    background-image: url($url + "@3x.png");
  }
}

// 禁止折行
@mixin no-wrap() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 扩展小图标按钮的点击区域
@mixin extend-click() {
  position: relative;

  &::before {
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    content: '';
  }
}
